# Python
backend/venv/
__pycache__/
*.pyc
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# ML model weight files (keep folder, ignore large binaries)
models/*.pt
models/*.tflite
models/*.onnx

# Logs
*.log

# OS
.DS_Store
Thumbs.db

.env
.venv/
